*{
    margin: 0;
    padding: 0;
}


#logoNav{
    width: 80px;
}

#navBar {
    background-color:rgb(21, 56 , 78) ;
   

   
}
.linkNav{
    color: white !important; 
}
#basic-navbar-nav a{
    color:white;
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
}

.linkNav:hover{
    color: white; 
    -webkit-text-stroke: 0.5px black
}
#navDrop{ 
    color: white;
}
#navDrop:hover{
    color: white; 
    -webkit-text-stroke: 0.5px black
}

#shopCart {
    width: 30px;
    border-color: white;
    
}
.buttonCart{
    background-color:transparent;
    border-style: none;
    margin-left: 50px;
    margin-right: 50px;
}
#counter{
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.buttonCount{
    margin: 0 10px 0 10px;
}
.imagenTarjeta{
    width: 50px;
}

.cardContent{
    height: 6rem;
}
.cardImg{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px 50px 20px 50px;
    padding: -50px;
}

.contenidoCard{
    padding-left: 1rem;
    margin-top: 0.5rem;
    
    h2{
        font-size: 23px;
        word-wrap:initial
    }
    h5{
        font-size: 13px;
    }
    h6{
        font-size: 18px;
    }

}
#card{
    border:1px solid black
}