*{
    margin: 0;
    padding: 0;
}
/*Variables*/
$mainColor : rgb(21, 56 , 78);
$mainColorBis : rgba(21, 56 , 78, 0.3);

/*Imports*/
@import "footer";
@import "navBar";
@import "homeConteiner";


#shopCart {
    width: 30px;
    border-color: white;
    
}
.buttonCart{
    background-color:transparent;
    border-style: none;
    margin-left: 50px;
    margin-right: 50px;
}
#counter{
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.buttonCount{
    margin: 0 10px 0 10px;
}
.imagenTarjeta{
    width: 50px;
}

.cardContent{
    height: 6rem;
}
.cardImg{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px 50px 20px 50px;
    padding: -50px;
}

.contenidoCard{
    padding-left: 1rem;
    margin-top: 0.5rem;
    
    h2{
        font-size: 23px;
        word-wrap:initial
    }
    h5{
        font-size: 13px;
    }
    h6{
        font-size: 18px;
    }

}
.card{
    border:1px solid black
}
#dropDown{
    list-style: none;
    margin-top: 1rem;
    ul{
    position: absolute;
    display: none;
    list-style: none;
    background-color:$mainColor ;
    border: solid 1px black;
    
    border-radius: 1em 1em 1em 1em;
    height: 7rem;
    li{
        margin: 1vh 0 1vh 0;
    }
    
}
li:hover{
    ul{display: block;
        ;}
}
}
  