*{
    margin: 0;
    padding: 0;
}
/*Variables*/
$mainColor : rgb(21, 56 , 78);
$mainColorBis : rgba(21, 56 , 78, 0.3);

/*Imports*/
@import "footer";
@import "navBar";
@import "homeConteiner";
@import "cartTable";
@import "cardConteiners";

